@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");

body {
  --title: "Orbitron", serif;
  --subtitle: "Oooh Baby", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../src/assets/images/background_body.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

h1 {
  font-family: var(--title);
  color: white;
  text-align: center;
  font-size: 2.5rem;
}
h2 {
  font-family: var(--subtitle);
  color: white;
  text-align: center;
  font-size: 2rem;
  line-height: 0.1rem;
}
*/ p {
  font-family: Orbitron;
}
